{
  "plugins": [
    ["import", { "libraryName": "@material-ui/core" }]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", { "useBuiltIns": true, "exclude": ["transform-regenerator"] }]
      ],
      "plugins": ["fast-async"]
    }
  }
}
